body {
  background: #fafafa;
  overscroll-behavior: none; }

.container {
  max-width: 70%; }

#base-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 3.25rem auto; }

#main-container {
  overflow-y: auto;
  padding: 0 1rem;
  content-visibility: auto; }

.box a {
  color: #4a4a4a; }

.media-player {
  position: relative; }
  .media-player.is-video img, .media-player.is-podcast img {
    opacity: 0.8; }
  .media-player.is-video.has-thumbnail .button, .media-player.is-podcast.has-thumbnail .button {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-left: -35%;
    width: 70%; }
  .media-player:hover img {
    opacity: 1; }
  .media-player.no-thumbnail {
    margin: 10px 0; }

#loading-bar {
  text-align: center;
  line-height: 4rem;
  display: none; }

#loading-bar.loading {
  display: block; }

@media only screen and (max-width: 760px) {
  .container {
    max-width: 100%; } }
