body
    background: #fafafa
    overscroll-behavior: none
    
.container 
    max-width: 70%

#base-container
    height: 100vh
    display: grid
    grid-template-rows: 3.25rem auto

#main-container
    overflow-y: auto
    padding: 0 1rem
    content-visibility: auto

.box a
    color:#4a4a4a

#loading-bar
    text-align: center
    line-height: 4rem
    display: none

#loading-bar.loading
    display: block


@media only screen and (max-width: 760px) 
    .container
        max-width: 100%



