body
    background: #fafafa
    overscroll-behavior: none
    
.container 
    max-width: 70%

#base-container
    height: 100vh
    display: grid
    grid-template-rows: 3.25rem auto

#main-container
    overflow-y: auto
    padding: 0 1rem
    content-visibility: auto

.box a
    color:#4a4a4a

.media-player
    position: relative
    &.is-video, &.is-podcast
        img
            opacity: 0.8
        &.has-thumbnail
            .button
                position: absolute
                top: 35%
                left: 25%
    &:hover    
        img
            opacity: 1
    &.no-thumbnail
        margin: 10px 0

#loading-bar
    text-align: center
    line-height: 4rem
    display: none

#loading-bar.loading
    display: block


@media only screen and (max-width: 760px) 
    .container
        max-width: 100%



